.test {
    width: 96%;
    height: 88%;
    margin: 2%;
    border: 1px solid #3e4652;
}

.test__header {
    width: 100%;
    height: 6%;
    background: rgba(0, 0, 0, 0.02);
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    box-shadow:         inset -1px -1px 1px #000000, inset 1px 1px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow:    inset -1px -1px 1px #000000, inset 1px 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset -1px -1px 1px #000000, inset 1px 1px 1px rgba(255, 255, 255, 0.2);  
    font-style: italic;
}

.test__topics-box {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #3e4652;
}

.test__available-topics-box, .test__selected-topic-box {
    width: 43%;
    height: 98%;
    margin: 1%;
    box-shadow:         inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow:    inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);  
}

.test__available-topics__header, .test__selected-topics__header {
    height: 8%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:         inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow:    inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);  
    font-style: italic;
}

.test__available-topics, .test__selected-topics {
    height: 90%;
    padding: 0;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: aqua transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.test__topics-btn-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#test__select-btn, #test__deselect-btn {
    width: 100%;
    height: 10%;
    font-size: 3.5vh;
}

.test__available-topics-box ul, .test__selected-topic-box ul {
    padding: 0;
    height: 100%;
    width: 100%;
}

.test__available-topics-box ul li, .test__selected-topic-box ul li {
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin: 5% 2%;
    padding: 1px;
    border-radius: 15px;
    box-shadow:         inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow:    inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
}

.test__available-topics-box ul li:nth-child(even), .test__selected-topic-box ul li:nth-child(even) {
    background: rgba(255, 255, 255, 0.03);
}

.test__available-topics-box ul li:nth-child(odd), .test__selected-topic-box ul li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.03);
}

.test__available-topics-box ul li:hover, .test__selected-topic-box ul li:hover {
    background: rgba(134, 211, 224, 0.2);
}

.test__topic {
    list-style: none;
    margin: 4px;
}

.test__available-topics-box ul li.test__topic-list__item--selected,
.test__selected-topic-box ul li.test__topic-list__item--selected {
    background: #36ebeec4;    
}

.test__difficulty-box {
    height: 17%;
    width: 100%;
    border: 1px solid #3e4652;
}

.test__difficulty-header {
    height: 40%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow:         inset -1px -1px 1px #000000, inset 1px 1px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow:    inset -1px -1px 1px #000000, inset 1px 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset -1px -1px 1px #000000, inset 1px 1px 1px rgba(255, 255, 255, 0.2);  
    font-style: italic;
}

.test__range-box {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test__select-box {
    height: 12%;
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test__select-box>div { 
    width: 50%;
    text-align: center;
 }

.test__footer {
    height: 10%;
    display: flex;
    justify-content: center;
}

.test__footer button {
    height: 100%;
    width: 50%;
    font-size: 3.2vh;
}
