.rot-btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rot-btn>button {
    height: 50%;
    width: 15%;
    font-size: 0.5em;
}

#test__selected-cards-num {
    width: 70%;
}
