.rot-btn {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.rot-btn__btn-box {
    height: 100%;
    width: 20%;
}

.rot-btn__btn-box>button {
    height: 50%;
    width: 100%;
    font-size: 0.8em;
}

.rot-btn__btn-box>button:nth-child(2):hover {
    text-decoration: overline;
}

.rot-btn__num-box {
    position: relative;
    width: 80%;
    box-shadow:         inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow:    inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
}

.rot-btn__nums {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#rot-btn__num-prev {
    height: 25%;
    transform: scaleY(0.95) rotate3d(1, 0, 0, 55deg);
}

#rot-btn__num-curr {
    height: 50%;
    background: rgba(79, 110, 113, 0.1);
    transform: scaleY(1) rotate3d(1, 0, 0, 0);
}

#rot-btn__num-next {
    height: 25%;
    transform: scaleY(0.95) rotate3d(1, 0, 0, -55deg);
}

.rot-btn__num {
    display: flex;
    justify-content: center;
    align-items: center;    
}