.run-test-box {
    width: 90%;
    height: 85%;
    margin: 5%;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid #3e4652;
}

.run-test__progress-box {
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #3e4652;
}

.run-test__progressbar {
    width: 96%;
    height: 70%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow:         0 1px 5px #000 inset, 0 1px 0 #444;
    -moz-box-shadow:    0 1px 5px #000 inset, 0 1px 0 #444;
    -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.run-test__progress {
    width: 40%;
    height: calc(100% - 2px);
    border-radius: 6px;
    background-color: #36ebee;
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, 
                    rgba(0, 0, 0, .55) 25%, 
                    transparent 25%,
                    transparent 50%,
                    rgba(0, 0, 0, .55) 50%, 
                    rgba(0, 0, 0, .55) 75%,
                    transparent 75%,
                    transparent);            
    
    animation: animate-stripes 3s linear infinite;
    transition: width .4s ease-in-out; 
}

.run-test__test-box {
    width: 100%;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:         0 1px 5px #000 inset, 0 1px 0 #444;
    -moz-box-shadow:    0 1px 5px #000 inset, 0 1px 0 #444;
    -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.run-test__cards {
    position: relative;
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, .3);
}

#run-test__prev-card-div, #run-test__curr-card-div, #run-test__next-card-div, #run-test__nex2-card-div {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
}

#run-test__prev-card-div {
    left: 0;
    background: blue;
}

#run-test__curr-card-div {
    left: 25%;
    background: pink;
}

#run-test__next-card-div {
    left: 50%;
    background: yellow;
}

#run-test__nex2-card-div {
    left: 75%;
    background: green;
}

.run-test__btn-box {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.run-test__btn-box>button {
    height: 100%;
    font-size: 3vh;
}

.run-test__btn-box>button:nth-child(odd) {
    width: 20%;
}

.run-test__btn-box>button:nth-child(even) {
    width: 60%;
}

.run-test__btn-box>button:disabled, .run-test__btn-box>button[disabled] {
    color: #36ebee7e;
    cursor: progress;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}