.run-test-box {
    width: 90%;
    height: 85%;
    margin: 5%;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid #3e4652;
}

.run-test__progress-box {
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #3e4652;
}

.run-test__progressbar {
    width: 96%;
    height: 70%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow:         0 1px 5px #000 inset, 0 1px 0 #444;
    -moz-box-shadow:    0 1px 5px #000 inset, 0 1px 0 #444;
    -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

#run-test__progress {
    height: calc(100% - 2px);
    border-radius: 6px;
    background-color: #36ebee;
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, 
                    rgba(0, 0, 0, .55) 25%, 
                    transparent 25%,
                    transparent 50%,
                    rgba(0, 0, 0, .55) 50%, 
                    rgba(0, 0, 0, .55) 75%,
                    transparent 75%,
                    transparent);            
    
    animation: animate-stripes 3s linear infinite;
    transition: width .4s ease-in-out; 
}

.run-test__btn-box {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.run-test__btn-box>button {
    height: 100%;
    font-size: 3vh;
}

#run-test__correct-btn {
    color: rgb(136, 255, 207);
}

#run-test__incorrect-btn {
    color: rgb(211, 117, 159);
    font-size: 4vh;
}

.run-test__btn-box>button:nth-child(odd) {
    width: 20%;
}

.run-test__btn-box>button:nth-child(even) {
    width: 60%;
}

.run-test__btn-box>button:disabled, .run-test__btn-box>button[disabled] {
    color: #36ebee7e;
    cursor: progress;
}


@-webkit-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.run-test__test-box {
    width: 100%;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:         0 1px 5px #000 inset, 0 1px 0 #444;
    -moz-box-shadow:    0 1px 5px #000 inset, 0 1px 0 #444;
    -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.run-test__cards {
    position: relative;
    height: 90%;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    overflow: hidden;
}

.run-test__-card-div { display: none; }

.run-test__prev-card-div, .run-test__curr-card-div, .run-test__next-card-div, .run-test__nex2-card-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: none;
    border: 0px solid #3e4652;
    box-shadow:         10px 10px 10px black;
    -moz-box-shadow:    10px 10px 10px black;
    -webkit-box-shadow: 10px 10px 10px black;
    border-radius: 0px;
}


.run-test__prev-card-div {
    z-index: 0;
    background: #545867;
}

.run-test__curr-card-div {   
    z-index: 3;
    background: #16171b;
}

.run-test__next-card-div {
    z-index: 2;
    background: #545867;
}

.run-test__nex2-card-div {
    z-index: 1;
    transform: rotateY(90deg) scale(0.65);
    background: #80869b;
}

.run-test__prev-card-div--animation {
    animation: animate-prev-card 1.5s linear; 
}

.run-test__curr-card-div--animation {
    animation: animate-curr-card 1.5s linear;
}

.run-test__next-card-div--animation {
    animation: animate-next-card 1.5s linear; 
}

.run-test__nex2-card-div--animation {
    animation: animate-nex2-card 1.5s linear; 
}

.run-test__results-box {
    width: 90%;
    height: 85%;
    margin: 5%;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid #3e4652;
}

.run-test__results-body {
    width: 100%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: aqua transparent;
}

.run-test__results-footer {
    width: 100%;
    height: 10%;
}

.run-test__results-footer button {
    width: 100%;
    height: 100%;
    font-size: 3vh;
}

.run-test__results {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: safe center;
    align-items: safe center;
}

.run-test__results > div:nth-child(1) {
    height: 33%;
    width: 100% !important;
}

.run-test__results > div {
    width: 33% !important;
    height: 33.333%;
}

@keyframes animate-prev-card {
    0% {
        transform-origin: center center;
        left: 0;
        transform: scale(1);
        border: 0px solid #3e4652;
    }
    25% {
        transform-origin: center center;
        left: -17.5%;
        transform: scale(0.65);
    }
    50% {
        border-radius: 30px;
        border: 5px solid #3e4652;
        transform-origin: center left;
        left: -10%;
        transform: scale(0.65) rotateY(90deg);
    }
    100% {
        transform-origin: center left;
        left: -10%;
        transform: scale(0.65) rotateY(90deg);
    }
}

@-webkit-keyframes animate-prev-card {
    0% {
        border: 0px solid #3e4652;
        -webkit-transform-origin: center center;
        left: 0;
        -webkit-transform: scale(1);
    }
    25% {
        -webkit-transform-origin: center center;
        left: -17.5%;
        -webkit-transform: scale(0.65);
    }
    50% {
        border-radius: 30px;
        border: 5px solid #3e4652;
        -webkit-transform-origin: center left;
        left: -10%;
        -webkit-transform: scale(0.65) rotateY(90deg);
    }
    100% {
        -webkit-transform-origin: center left;
        left: -10%;
        -webkit-transform: scale(0.65) rotateY(90deg);
    }
}

@keyframes animate-curr-card {
    0% {
        border: 0px solid #3e4652;
        left: 0;
        transform: scale(1);
        background: #16171b;
    }
    25% {
        left: 0;
        transform: scale(0.8);
        z-index: 3;
    }
    50% {
        border-radius: 30px;
        border: 5px solid #3e4652;
        left: -12.5%;
        transform: scale(0.65);
        z-index: 2;
    }
    100% {
        left: -12.5%;
        transform: scale(0.65);
        z-index: 2;
        background: #545867;
    }
}

@-webkit-keyframes animate-curr-card {
    0% {
        border: 0px solid #3e4652;
        left: 0;
        background: #16171b;
        -webkit-transform: scale(1);
    }
    25% {
        left: 0;
        -webkit-transform: scale(0.8);
        z-index: 3;
    }
    50% {
        border-radius: 30px;
        border: 5px solid #3e4652;
        left: -12.5%;
        -webkit-transform: scale(0.65);
        z-index: 2;
    }
    100% {
        background: #545867;
        left: -12.5%;
        -webkit-transform: scale(0.65);
        z-index: 2;
    }
}


@keyframes animate-next-card {
    0% {
        left: 0;
        transform: scale(1);
        background: #545867;
    }
    25% {
        left: 17.5%;
        transform: scale(0.65);
        z-index: 2;
    }
    50% {
        border-radius: 30px;
        border: 5px solid #3e4652;
        left: 0;
        transform: scale(0.8);
        z-index: 3;
    }
    100% {
        left: 0;
        transform: scale(1);
        z-index: 3;
        background: #16171b;
    }
}

@-webkit-keyframes animate-next-card {
    0% {
        left: 0;
        background: #545867;
        -webkit-transform: scale(1);
    }
    25% {
        left: 17.5%;
        -webkit-transform: scale(0.65);
        z-index: 2;
    }
    50% {
        border-radius: 30px;
        border: 5px solid #3e4652;
        left: 0;
        -webkit-transform: scale(0.8);
        z-index: 3;
    }
    100% {
        left: 0;
        -webkit-transform: scale(1);
        z-index: 3;
        background: #16171b;
    }
}


@keyframes animate-nex2-card {
    0% {
        background: #80869b;
    }
    25% {
        transform: rotateY(90deg) scale(0.65);
        transform-origin: center right;
    }
    50% {
        border-radius: 30px;
        border: 5px solid #3e4652;
        transform: rotateY(0deg) scale(0.65);
        transform-origin: center right;
    }
    100% {
        transform: rotateY(0deg) scale(0.65);
        transform-origin: center right;
        background: #545867;
    }
}

@-webkit-keyframes animate-nex2-card {
    0% {
        background: #80869b;
    }
    25% {
        -webkit-transform: rotateY(90deg) scale(0.65);
        -webkit-transform-origin: center right;
    }
    50% {
        border-radius: 30px;
        border: 5px solid #3e4652;
        -webkit-transform: rotateY(0deg) scale(0.65);
        -webkit-transform-origin: center right;
    }
    100% {
        -webkit-transform: rotateY(0deg) scale(0.65);
        -webkit-transform-origin: center right;
        background: #545867;
    }
}