.range {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.range__min-text, .range__max-text {
    width: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2.5vh;
}

.range__body {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.range__body__track {
    position: relative;
    width: 100%;
    height: 75%;
    border-radius: 10px;
    border: 1px solid #3e4652;
    box-shadow:         inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow:    inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
}

.range__body__active-track {
    position: relative;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    margin: 2px;
    background: #36ebee;
}

.range__body__slider--min, .range__body__slider--max {
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    border-radius: 10px;
    background: #3e4652;
    box-shadow:         inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow:    inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
}

.range__body__slider--min {
    left: 0;
}

.range__body__slider--max {
    right: 0;
}