.topics {
    position: relative;
    width: calc(96% - 2px);
    height: calc(88% - 2px);
    margin: 2%;
    border: 1px solid #3e4652;
}

.topics-box {
    width: 96%;
    height: 90%;
    margin: 4% 2%;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.1);
}

.topics-box__topic-list-box {
    width: 100%;
    height: 90%;
    border: 1px solid #3e4652;
    border-bottom: none;
}

.topics-box__topic-list-box ul {
    width: 98%;
    height: 100%;
    margin: 0;
    padding: 1%;
}

.topics-box__topic-list-box ul li {
    display: flex;
    margin: 2% 0;
    list-style: none;
}

.topics-box__topic-list-box ul li:nth-child(even) {
    background: rgba(255, 255, 255, 0.05);
}

.topics-box__buttons {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: none;
}

.topics-box__buttons button {
    width: 33.3%;
    height: 100%;
    background: transparent;
    border: none;
    font-size: 3.2vh;
    color: #36ebee;
    font-family: "Lanenar";
    box-shadow:         inset -1px -1px 1px #000000, inset 1px 1px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow:    inset -1px -1px 1px #000000, inset 1px 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset -1px -1px 1px #000000, inset 1px 1px 1px rgba(255, 255, 255, 0.2);
}

.topics-box__buttons button:hover {
    box-shadow:         inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow:    inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 1px 1px 1px #000000, inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    text-decoration: underline;
}