.card__card-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Break words */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    /* Overflow */
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: aqua transparent;
}

.card__card-content>pre {
    font-family: inherit;
    text-align: inherit;
}

.code--green {
    color:#86cd57;
}

.code--code-text {
    background: rgba(255, 255, 255, 0.05);
}