.card__card-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: safe center;
    align-items: safe center;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: aqua transparent;
}

.code--green {
    color: rgb(179, 255, 179);
}

.code--orange {
    color: rgb(255, 185, 128);
}

.code--yellow {
    color: rgb(253, 253, 186);
}

.code--pink {
    color: rgb(255, 183, 219);
}

.code--lightblue {
    color: rgb(159, 255, 255);
}

.code--white {
    color: rgb(228, 228, 228);
}

.code--purple {
    color: rgb(255, 128, 255);
}

.code--blue {
    color: rgb(137, 177, 250);
}

.code--grey {
    color: rgb(144, 151, 160);
}

.code--code-text {
    max-width: 90vw;
    display: block;
    padding: 1vh;
    background: rgba(255, 255, 255, 0.03);
    font-size: 1.9vh;
    color: rgb(240, 113, 113);
    font-family: 'Fira', Courier, monospace;
    text-align: left;
        /* Overflow */
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: aqua transparent;
    
}

.code--plain-text > span{
    display: block;
    padding: 1vh;
    font-size: 2.6vh;
    white-space: wrap;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    /* Non standard for WebKit */
    word-break: break-word;
    -ms-word-break: break-word;
}