.browse-box {
    width: calc(90% - 2px);
    height: calc(85% - 2px);
    margin: 5%;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #3e4652;
    border-radius: 0 0 20px 20px;
}

.browse-box__header {
    width: 90%;
    height: calc(8% - 1px);
    padding: 0 5%;
    background: rgba(255, 255, 255, 0.02);
    border-bottom: 1px solid #3e4652;
}

.browse-box__body {
    width: 90%;
    height: 65.5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-style: italic;
    background: rgba(0, 0, 0, 0.25);
}

.browse-box__footer {
    width: 100%;
    height: calc(20% - 1px);
    border-top: 1px solid #3e4652;
    background: rgba(255, 255, 255, 0.02);
}

.browse-box__footer__progress-box {
    width: 95%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5%;
    font-size: 2.5vh;
}

.browse-box__footer__progress-box__text {
    height: 100%;
    width: 25%;
    padding: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    border-left: 1px solid #3e4652;
    border-right: 1px solid #3e4652;
    color: #36ebee;
}

.browse-box__footer__progress-box__progress {
    width: 75%;
    height: 100%;
}

.browse-box__footer__progress-bar {
    height: 20%;
    width: 95%;
    margin: 4.5% 0 5% 4.5%;
    background: rgba(255, 255, 255, 0.05);
    border-top: 1px solid #3e4652;
    border-bottom: 1px solid #3e4652;
}

.browse-box__footer__progress {
    height: 100%;
    background: #36ebee;
}

.browse-box__footer__button-box {
    width: calc(95% + 2px);
    height: 49%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 1px 2.5% 1.5% 2.5%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0 0 15px 15px;
}

.browse-box__footer__button-box button {
    width: 32.5%;
    background: rgba(0, 0, 0, 0.35);
    border: 1px solid #3e4652;
    border-bottom: none;
    color: #36ebee;
    font-size: 3vh;
    font-family: "Lanenar";
    cursor: pointer;
}

.browse-box__footer__button-box button:hover {
    background: rgba(255, 255, 255, 0.05);
}

.browse-box__footer__button-box button:first-child {
    margin-left: 1px;
    border-left: none;
    border-bottom-left-radius: 15px;
}

.browse-box__footer__button-box button:last-child {
    margin-right: 1px;
    border-right: none;
    border-bottom-right-radius: 15px;
}