@font-face {
  src: url(./fonts/LANENAR_.ttf);
  font-family: "Lanenar";
}

body {
  margin: 0;
  padding: 0;
  background: rgb(249, 249, 250);
  font-family: "Lanenar";
}

.App {
  height: 100vh;
  width: 100vw;
  max-width: 480px;
  max-height: 740px;
  margin: auto;
  background: rgb(33, 37, 43);
  color: rgb(249, 249, 250); 
  font-size: 3vh;
}

header {
  width: 100%;
  height: 8%;
  border-bottom: 1px solid #3e4652;
  display: flex;
  justify-content: row;
  align-items: stretch;
}